body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    
    
}
.quote{
    font-family:Montserrat;
    font-size:20px;
    display: inline-block;
    padding-left: 26%;
    padding-top: 10%;
}

.logo{
    padding-left: 10px;
    margin: 0%;
}
.logo,.navbar a{
    text-transform: uppercase;
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px ;
    box-shadow: 0 1px 8px #ddd;
}


header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}
header a:hover {
   
    color: buttontext;
}
 ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      top: 45px;
      right:160px;
      display: none;
      background: rgba(255,255,255,0.2);
      
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      width: 40px;
      opacity: 1;
      display: block;
      min-width: 200px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 50%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  
a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }


       
    .search{
      display: flex;  
       align-items: center;
       justify-content: center;
       height: 40px;
       background: transparent;
     
       
       
       
    }
.search input[type=text]{
        width:700px;
        height:40px;
        border-radius:25px;  
        
    }
    .searchbar input{
        background: rgba(255,255,255,0.2);
        border: 0;
        outline:none;
         
    }
    ::placeholder{
        padding-left: 5px;
        color: black;
    }
    .searchbar{
       
        display: flex;  
       align-items: center;
       justify-content: center;
        width:100%;
        max-width: 700px;
     
    }
         
    .search button{  
        background: transparent;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
   
